.block-messenger {
    display: flex;
    justify-content: center;
}

.block-message {
    width: 600px;
    padding: 10px;
    margin: 10px;
    height: 650px;
    border: 1px solid red;
}

.block-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 600px;
    padding: 10px;
    height: 650px;
    margin: 10px;
    border: 1px solid red;
}

.block-info__user-name {
    display: flex;
    justify-content: space-between;
}

.block-info__ul-names-in-room {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    height: 250px;
    overflow: auto;
    border: 1px solid red;
}

.block-info__ul-all-rooms {
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 350px;
    padding: 10px;
    margin: 10px;
    border: 1px solid teal;
    overflow: auto;
}

.block-info__ul-all-rooms .active {
    font-size: 25px;
    color: red;
}

.modal-overlay {
    position: absolute;
    margin: 450px 30px 150px 150px;
    z-index: 9999;
    height: 80px;
    width: 300px;
    border: 5px solid black;
    background-color: gray;
}

.modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.modal-block {
    display: flex;
    flex-direction: column;

}

.block-message__block {
    display: flex;
    flex-direction: column;
    border: 1px solid goldenrod;
    border-radius: 5px;
    margin-bottom: 15px;
    width: max-content;
    white-space: pre-wrap;
    height: content-box;
}

.block-message__user-name {
    display: flex;
    align-content: stretch;
    padding: 5px;
    color: gray;
    font-weight: bold;
}

.block-message__message {
    max-width: 380px;
    padding: 15px;
    word-break: break-all;
}

.messages-block-real {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    width: 700px;
    height: 650px;
    overflow: scroll;
    border: 1px solid black;
    border-radius: 5px;
}

.mount-messages {
    display: flex;
    flex-direction: column;
}

.block-message__block {
    display: flex;
    justify-items: right;

}

.block-message__block.my-message {
    display: flex;
    align-self: flex-end;
}